.button {
    @include button-base;
    @include button-size;
    @include button-style;

    &.secondary { @include button-style($bg:$secondary-color); }
    &.success   { @include button-style($bg:$success-color); }
    &.alert     { @include button-style($bg:$alert-color); }

    &.large  { @include button-size($padding:$button-lrg); }
    &.small  { @include button-size($padding:$button-sml); }
    &.tiny   { @include button-size($padding:$button-tny); }
    &.expand { @include button-size($full-width:true); }

    &.left-align  { text-align: left; text-indent: emCalc(12px); }
    &.right-align { text-align: right; padding-right: emCalc(12px); }

    &.disabled, &[disabled] { @include button-style($bg:$primary-color, $disabled:true);
        &.secondary { @include button-style($bg:$secondary-color, $disabled:true); }
        &.success { @include button-style($bg:$success-color, $disabled:true); }
        &.alert { @include button-style($bg:$alert-color, $disabled:true); }
    }

    &.action { margin-right: 5px; }

    &:hover { border: 1px solid darken($primary-color, 50%);
        &.secondary { border: 1px solid darken($secondary-color, 50%); }
        &.success { border: 1px solid darken($success-color, 50%); }
        &.alert { border: 1px solid darken($alert-color, 50%); }
    }
}

input.button,
button.button {
    @include button-size($padding:false, $is-input:$button-med);
    &.tiny { @include button-size($padding:false, $is-input:$button-tny); }
    &.small { @include button-size($padding:false, $is-input:$button-sml); }
    &.large { @include button-size($padding:false, $is-input:$button-lrg); }
}

// Styles for any browser or device that support media queries
@media only screen {

  .button {
    @include single-transition(background-color);

    &.large  { @include button-size($padding:false, $full-width:false); }
    &.small  { @include button-size($padding:false, $full-width:false); }
    &.tiny   { @include button-size($padding:false, $full-width:false); }

    &.radius { @include button-style($bg:false, $radius:true); }
    &.round  { @include button-style($bg:false, $radius:1000px); }
  }

}

// Additional styles for screens larger than 768px
@media #{$small} {
  .button {
    @include button-base($style:false, $display:inline-block);
    @include button-size($padding:false, $full-width:false);
  }
}